<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= shop.name %>></title> <!-- Dynamic title based on shop name -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3>"A weed is but an unloved flower"</h3>
    <h1><%= shop.name %></h1> <!-- Display fruit name -->
    <!-- Add more details about the fruit here -->
    <% if (shop.offersDelivery) { %>
        <p>This shop offers delivery!</p>
    <% } else { %>
        <p>This shop does not offer delivery!</p>
    <% } %>
    <form action="/shops/<%=shop._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= shop.name %></button>
    </form>
    <a href="/shops/<%= shop._id %>/edit">Edit <%= shop.name %></a>
    <a href="/shops">Back to Shops</a>
  </body>
</html>
